<div class="container">
    <% @questions.each do |question| %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class="card-header font-italic">
                        Asked by  <%= question.student.name %>
                        <% if !question.ans.nil? && question.teacher%> 
                                & Solved by  <%= question.teacher.name %>
                        <% end %>
                        <% if !question.ans.nil? && !question.teacher%>
                                & Solved by  Deleted User
                        <% end %>
                        <% if question.topics.any? %>
                            <div class="mt-2"><%= render question.topics %></div>
                        <% end %>
                    </div>
                    <div class="card-body">
                        <% if question.ans.nil? %>
                            <h5 class="card-title"><%= link_to truncate(question.que, length: 80), question_path(question), class: "text-danger font-weight-bold" %></h5>
                        <% else %>
                            <h5 class="card-title"><%= link_to truncate(question.que, length: 80), question_path(question), class: "text-success font-weight-bold" %></h5>
                        <% end %>
                        <hr>
                        <p class="card-text">
                        <% if question.ans.nil? %>
                            Not answered yet!!
                        <% else %>
                            <%= truncate(question.ans, length: 100)%>
                        <% end %>
                        </p>
                        <hr>
                        <%= link_to 'View briefly', question_path(question), class: "btn btn-outline-info"%>
                        <% if question.ans.nil? && logged_in_as_teacher? %>
                            <%= link_to 'Answer it!', edit_question_path(question), class: "btn btn-outline-success"%>
                        <% end %>
                        <% if logged_in_as_student? && current_student == question.student %>
                            <%= link_to 'Delete this question', question_path(question), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you Sure?"}%>
                        <% end %>
                    </div>
                    <% if question.ans.nil? %>
                    <div class="card-footer bg-danger  text-black">
                    <% else %>
                    <div class="card-footer bg-success  text-black">
                    <% end %>
                    <small> posted <%=time_ago_in_words(question.created_at) %> ago,
                        updated <%=time_ago_in_words(question.updated_at)%> ago
                        </small>
                    </div>
                </div>
            </div>
        </div>
    <% end%>
</div>




