<h1 class="text-center mt-4">Answer the following question</h1>

<h4 class="text-center mt-4 container"><%= @question.que%></h4>

<div class="container">
    
    <div class="row justify-content-center mt-4">
        <div class="col-10">
            <%= render 'shared/errors' , obj: @question%>
            <%= form_with(model: @question, class: "shadow p-3 mb-3 bg-info rounded",local: true ) do |f| %>
                
                <div class="form-group row">
                    <%= f.label :Answer, class: "col-2 col-form-label text-light"%> 
                    <div class="col-10">
                        <%= f.text_area :ans, rows:10, class: "form-control shadow rounded", placeholder: "Write your answer"%>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <%= f.submit "Post your answer", class:"btn btn-outline-light btn-lg"%>
                </div>
            <% end %>
        </div>
        <div class="mb-3">
            <%= link_to '[ redirecting to questions page ]', questions_path, class: "text-info"%>
        </div>
    </div>
</div>
