<h1 class="text-center mt-4"><%= @student.name%> profile</h1>


<% if logged_in_as_student? && current_student == @student %>
    <div class="text-center mt-4">
        <%= link_to "Edit your profile", edit_student_path(@student), class: "btn btn-outline-info" %>
    </div>
<% end %>

<h4 class="text-center mt-4">Questions Asked</h4>

<div class="flickr_pagination">
    <%= will_paginate @questions, :container => false %>
</div>

<%= render 'questions/question' %>

<div class="flickr_pagination mb-4">
    <%= will_paginate @questions, :container => false %>
</div>