<% if logged_in_as_student? && current_student == @student %>
<h1 class="text-center mt-4">Your profile</h1>
<% else %>
<h1 class="text-center mt-4"><%= @student.name%> profile</h1>
<% end %>



<% if logged_in_as_student? && current_student == @student %>
    <div class="text-center mt-4">
        <%= link_to "Edit your profile", edit_student_path(@student), class: "btn btn-outline-info" %>
    
        <%= link_to 'Topic wise Questions', topics_path, class: "btn btn-outline-secondary" %>
    </div>
<% end %>

<h3 class="text-center mt-4">Questions Asked</h3>

<div class="flickr_pagination">
    <%= will_paginate @questions, :container => false %>
</div>

<%= render 'questions/question' %>

<div class="flickr_pagination mb-4">
    <%= will_paginate @questions, :container => false %>
</div>