<h1 class="text-center mt-4">Teachers</h1>

<div class="flickr_pagination">
    <%= will_paginate @teachers, :container => false %>
</div>

<div class="container">
    <div class="row justify-content-md-center">
    <% @teachers.each do |teacher| %>
        <% if teacher.name != 'ramesh' %>
        
            <div class="col-6 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class="card-header font-italic">
                         <%= link_to teacher.name, teacher_path(teacher) %>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text"><%= pluralize(teacher.questions.count, "question") %> solved</p>
                        <%= link_to 'View profile', teacher_path(teacher), class: "btn btn-outline-success"%>
                        <% if (logged_in_as_teacher? && current_teacher == teacher) || (logged_in_as_student? && current_student.admin?) %>
                            <%= link_to 'Edit profile', edit_teacher_path(teacher), class: "btn btn-outline-info"%>
                            <%= link_to 'Delete profile', teacher_path(teacher), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                        <% end %>
                    </div>
                    <div class="card-footer text-muted">
                        <small> joined <%=time_ago_in_words(teacher.created_at) %>ago,
                        updated <%=time_ago_in_words(teacher.updated_at)%> ago
                        </small>
                    </div>
                </div>
            </div>
        
        <% end %>
        
    <% end%>
    </div>
</div>

<div class="flickr_pagination">
    <%= will_paginate @students, :container => false %>
</div>




