<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" id="logo">Doubts Solver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Students', students_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Teachers', teachers_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Questions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if logged_in_as_student? %>
            <%= link_to 'Ask a question', new_question_path, class: "dropdown-item" %>
            <%= link_to 'List my questions', myquestions_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to 'List all questions', questions_path, class: "dropdown-item" %>
        </div>
      </li>
      <% if logged_in_as_student? %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   (Student) <%= current_student.name %>
              </a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'View profile', student_path(current_student), class: "dropdown-item" %>
                  <%= link_to 'Edit profile', edit_student_path(current_student), class: "dropdown-item" %>
                  <%= link_to 'Delete profile', student_path(current_student), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?"}%>
              </div>
          </li>
          <li class="nav-item">
              <%= link_to "Logout", logout_path, class: "nav-link", method: :delete%>
          </li>
      <% elsif logged_in_as_teacher? %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  (Teacher) <%= current_teacher.name %>
              </a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'View profile', teacher_path(current_teacher), class: "dropdown-item" %>
                  <%= link_to 'Edit profile', edit_teacher_path(current_teacher), class: "dropdown-item" %>
                  <%= link_to 'Delete profile', teacher_path(current_teacher), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?"}%>
              </div>
          </li>
          <li class="nav-item">
              <%= link_to "Logout", logout_path, class: "nav-link", method: :delete%>
          </li>
      <% else %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login
              </a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'Login as student', login_path , class: "dropdown-item" %>
                  <%= link_to 'Login as teacher', login2_path, class: "dropdown-item" %>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SignUp
              </a>    
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'Signup as student', signup1_path , class: "dropdown-item" %>
                  <%= link_to 'Signup as teacher', signup2_path, class: "dropdown-item" %>
              </div>
          </li>     
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>